<div class="ember-redux-core">

  <div class="heading">
    <div class="logo">
      <img src="images/ember-redux.png" alt="logo" width='175px'>
    </div>
    <div class="text">
      <h1 id="title">ember-redux-core</h1>
      <div class="sub-heading">Bringing the REDUX state machine to Ember</div>
    </div>
  </div>


  <div class="page">
  <div class="left-side">
    <h2>Docs</h2>
    <ul>
      <li>{{#link-to 'index'}}Overview{{/link-to}}</li>
      <li>{{#link-to 'install-and-config'}}Installation{{/link-to}}</li>
      <li>{{#link-to 'the-store'}}The Redux Store{{/link-to}}</li>
      <li>{{#link-to 'actions'}}Actions{{/link-to}}</li>
      <li>{{#link-to 'reducers'}}Reducers{{/link-to}}</li>
      <li>{{#link-to 'static-initializers'}}Initializers{{/link-to}}</li>
      <li>{{#link-to 'connect'}}Connection{{/link-to}}</li>
      <li>{{#link-to 'middleware'}}Middleware{{/link-to}}</li>
      <li>{{#link-to 'enhancers'}}Enhancers{{/link-to}}</li>
    </ul>
    <h2>Demos</h2>
    <ul>
      <li>{{#link-to 'count' class='count-link'}}Count<br/><small>(numeric state example)</small>{{/link-to}}</li>
      <li>{{#link-to 'users' class='users-link'}}Users<br/><small>(array state example)</small>{{/link-to}}</li>
      <li>{{#link-to 'count' class='-link'}}Identity<br/><small>(hash state example)</small>{{/link-to}}</li>
    </ul>

  <h2>Reference</h2>
    <ul>
      <li>{{#link-to 'index' class='count-link'}}Redux links{{/link-to}}</li>
      <li>{{#link-to 'index' class='count-link'}}ember-cli commands{{/link-to}}</li>
      <li>{{#link-to 'middleware' class='count-link'}}building extensions{{/link-to}}</li>
    </ul>

  </div>

  <div class="right-side">
    {{outlet}}
  </div>

  </div>

</div>
