{{#markdown-convert style='github'}}
## Installation
In the terminal application go to the root of your Ember app and type:

    ember install ember-redux-core

After installing please note the following files will have been installed in your `app` directory.

> **Note:** if you are installing this into an Addon versus an app then these files will be located in your `tests/dummy/app`.

![](/images/files.png)

All set, you're done with installation! The next step in the process is configuring your store, reducers, and middleware to meet your needs.

{{/markdown-convert}}

<br>
<div class="next-section">
  <div>Next up ... </div>
  <div>{{ui-button 'Docs > The Store' onClick=(route-action 'navigate' 'the-store') }}</div>
</div>